.container {
  display: flex;
  flex-flow: column nowrap;
}

.row {
  width: auto;
  /* margin-bottom: 10px; */
}

.header {
  text-align: center;
  padding-top: 20px;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  height: auto;
}

.clauses {

}

.dropdown {

}

.info {

}
