<!DOCTYPE html>
<html>
  <head>
    <script src="../static/sigma.js/build/sigma.min.js"></script>
    <script src="../static/sigma.js/plugins/sigma.parsers.json/sigma.parsers.json.js"></script>
    <script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script> var exports = {}; </script>
    <script type="text/javascript" src="../static/js/main.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body class="container">
    <div class="row">
        <div class="header f2 fw7 ttu tracked lh-title avenir pv4">
          CDCL Visualizer
        </div>
    </div>

    <div class="row flex-row">
      <div class="flex-col" style="width:50%">
        <div class="row flex-row" style="width:100%">
          <div id="sigma-container" style="width:100%;height:350px"></div>
        </div>

        <div class="row flex-row" style="align-items:center; width=100%">
            <div class="bw2 ba ph3 pv2 washed-red bg-washed-red mt1 br2" id="conflictSection" style="width:100%;display:none; justify-content:space-between">
              <div class="mid-gray f5 db i" style="display:inline-flex;align-items:center">Step through the conflict</div>
              <div style="display:inline-flex;">
                <a id="conflict_getUIPs" onclick="getUIPs()" class="f6 link dim ph3 pv2 ml3 mid-gray bg-white br2">
                  View Unique Implication Points (UIPs)
                </a>
                <a id="conflict_getUIP" onclick="getClosestUIP()" class="f6 link dim ph3 pv2 ml3 mid-gray bg-white br2" style="display:none">
                  View Closest UIP
                </a>
                <a id="conflict_showCut" onclick="showCut()" class="f6 link dim ph3 pv2 ml3 mid-gray bg-white br2" style="display:none">
                  Show Cut
                </a>
                <a id="conflict_addConflictClause" onclick="addConflictClause()" class="f6 link dim ph3 pv2 ml3 mid-gray bg-white br2" style="display:none">
                  Add Conflict Clause
                </a>
              </div>
            </div>
        </div>

        <div class="row flex-row" style="align-items:center; width=100%">
          <div id="finishedSection" style="display:none; width:100%;justify-content:left" class="flex-col bw2 ba ph3 pv2 light-blue bg-light-blue mt1 br2">
            <div id="satOrUnsat" class="mid-gray f5 db" style="display:inline-flex;"></div>
            <div style="display:inline-flex;" class="mid-gray f5 db" id="satisfyingSolution"></div>
          </div>
        </div>
      </div>

      <div class="flex-col" style="width: 40%">
        <div class="row flex-row">
          <div class="flex-col">
            <label for="clauseLibrary" class="f5 b db mb1">Clause Database <span class="normal black-60"></span></label>
            <small id="clauseLibrary-desc" class="f6 black-60">Input clauses in conjunctive normal form (CNF) as numbered literals (e.g., "p1") separated by "or", with new lines in between clauses. Represent not as a tilde ("~"). Begin with p1 and use consecutive numbers.</small>
            <textarea id="clauseLibrary" rows="8" cols="50" class="db border-box hover-black w-100 ba b--black-20 pa2 br2 mt2 mb2" aria-describedby="clauseLibrary-desc"></textarea>
          </div>
        </div>

        <div class="row flex-row" style="justify-content:space-between; width:100%">
          <div id="parseErrorMsg" class="flex-col" style="display:none">
            <div class="dark-red f6">There was an error parsing your input. <a class="link underline blue hover-orange" onclick="copyToClipboard()">Click here</a> to copy an example clause database to your clipboard.</div>
          </div>
          <div class="flex-col" style="width:40px"></div>
          <div class="flex-col" style="align-items: flex-start">
            <a class="f6 link dim br2 ba ph3 pv2 mb2 dib dark-gray" onclick="sendClauseLibrary(getElementById('clauseLibrary').value)">
              Generate
            </a>
          </div>
        </div>

        <div class="row mt1 mb2">
          <div id="errorMsg"></div>
          <div id="currentLevel" class="f5 b db" style="display:none"></div>
          <!-- <div class="info">
            May be where the updated clause database and/or explanations is displayed
          </div> -->
        </div>

        <div id="selectionSection" class="row flex-row f6 br2 ba ph3 pv2 mb4 moon-gray" style="width:100%; height: 60px; display:none; align-items:center">
          <div class="dropdown flex-col" style="width: 40%; align-items: flex-start">
            <select id="varDropdown" onchange="updateSelectedVar();" style="display:none">
              <option value="" disabled selected>Select a literal to decide</option>
            </select>
          </div>

          <div class="flex-col" style="width: 30%; align-items: center">
            <a id="decideVar" onclick="sendDecision(true)" class="f6 link dim ph3 pv2 white bg-dark-green br2" style="display:none"></a>
          </div>

          <div class="flex-col" style="width: 30%; align-items: flex-end">
            <a id="decideNotVar" onclick="sendDecision(false)" class="f6 link dim ph3 pv2 white bg-dark-pink br2" style="display:none"></a>
          </div>
        </div>

        <!-- todo: make this section look nicer -->
        <div class="row flex-row">
          <div id="clauseDatabaseStateSection" class="flex-col br2 ba ph3 pv3 mb2 moon-gray" style="display:none; width:100%; justify-content:left">
            <div class="f5 db gray">Clause Database State</div>
            <div class="f6 mb1">&#10003; means a clause is currently satisfied, &#10007; means a clause is currently unsatisfied.</div>
            <div id="clauseDatabaseState" class="f6 black-60"></div>
          </div>
        </div>
      </div>

    </div>

    <script>
      // Initialize sigma:
      s = new sigma(
        {
           renderer: {
             container: document.getElementById('sigma-container'),
             type: 'canvas'
           },
           settings: {
             defaultNodeColor: '#357EDD',
             labelThreshold: 0,
             minEdgeSize: 3,
             maxEdgeSize: 3,
             minArrowSize: 12,
             defaultLabelSize: 16
           }
         }
       );

       // to-do: draggable + zoomable graph
       // this zooms out
       s.cameras[0].goTo({ x: 0, y: 0, angle: 0, ratio: 1.5 });

       function copyToClipboard() {
           function handler (event){
               event.clipboardData.setData('text/plain', '~p1 or ~p2 or ~p4\n~p1 or p2 or ~p3\np3 or ~p4\np4 or p5 or p6\n~p5 or p7\n~p6 or p7 or ~p8');
               event.preventDefault();
               document.removeEventListener('copy', handler, true);
           }

           document.addEventListener('copy', handler, true);
           document.execCommand('copy');
       }
    </script>
  </body>
</html>
